<div class="full-filter">
  <div class="filter-part">
    <div class="form">
      <label for="timerInterval">Timer Interval (ms):</label>
      <input type="number" id="timerInterval" [(ngModel)]="timerInterval" (change)="updateTimerInterval()">
    </div>
    <div class="form">
      <label for="arraySize">Array Size:</label>
      <input type="number" id="arraySize" [(ngModel)]="arraySize" (change)="updateArraySize()">
    </div>
    <div class="form">
      <label for="arraySize">Additional Ids:</label>
      <input type="text" id="additionalIds" [(ngModel)]="additionalIds" (keyup)="updateAdditionalIds()">
    </div>
    <!-- Rest of the template -->
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>Integer</th>
      <th>Float</th>
      <th>Color</th>
      <th>Child</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.int }}</td>
      <td>{{ item.float }}</td>
      <td [style.background]="item.color">{{ item.color }}</td>
      <td>
        <table>
          <tr>
            <th>Id</th>
            <th>Color</th>
          </tr>
          <tr *ngFor="let child of item.child">
            <td>{{ child.id }}</td>
            <td [style.background]="child.color">{{ child.color }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
